@import "assets/font.css";

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  color: #0d4d66;
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-family: "HelveticaNeue", san-serif, serif;
}


body {
  margin: 0;
  background: #fff;
}

main {
  display: block;
}


h1 {
  margin: 0;
}


hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
}


/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
  display: block;
  width: auto;
  height: auto;
  border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 0;
}

p {
  margin: 0;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0;
}

address {
  margin: 0;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  max-width: 100%;
  overflow: auto;
  padding: 20px;
}


abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fafafa;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0;
  width: 100%;
}

/* Links
--------------------------------------------- */
a {
  color: #0d4d66;
}

a:visited {
  color: #0d4d66;
}

a:hover,
a:focus,
a:active {
  color: #0d4d66;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #13a89e;
  color: #fff;
  line-height: 1;
  padding: 0;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  border: 1px solid #ccc;
  padding: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
}

.main-navigation ul ul {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}

.main-navigation li {
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {

  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }
}


.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  -webkit-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0;
}

.page-links {
  clear: both;
  margin: 0;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0;
}

.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}


/************* FOOTER */
.site-footer {
  background: #fafafa;
  padding: 70px 20px;
  text-align: center;
  letter-spacing: 1.6px;
}

.footer_socials {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer_socials a {
  text-decoration: none;
  margin: 12px;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .site-footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .copy-rights {
    margin: 0 auto 10px;
  }
}

@media only screen and (max-width: 480px) {
  .copy-rights {
    max-width: 220px;
    line-height: 1.8;
  }
}

/************* PAGE SECTIONS */

/* font size */
.banner_item ._heading {
  font-size: 30px;
}

.introduction_slick_item ._excerpt {
  font-size: 30px;
  font-weight: bold;
}

.dfHeading {
  font-size: 24px;
  font-weight: 600;
}

.hncHeading {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 40px;
  font-family: 'HelveticaNeueCondensed', san-serif, serif;
  letter-spacing: 7px;
}

.banner_text ._summary {
  font-size: 20px;
}

.how_it_work_item ._name {
  font-size: 15px;
}

._button {
  font-size: 16px;
}

.statistic-item ._name,
.imageText_section ._description {
  font-size: 18px;
}

.statistic-item ._name {
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .banner_item ._heading {
    font-size: 50px;
  }

  .dfHeading {
    font-size: 48px;
  }

  .hncHeading {
    font-size: 48px;
    margin-bottom: 70px;
  }

  .banner_text ._summary {
    font-size: 26px;
  }

  .how_it_work_item ._name {
    font-size: 22px;
  }

  ._button {
    font-size: 18px;
  }

  .imageText_section ._description {
    font-size: 18px;
  }

  .statistic-item ._name {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .banner_item ._heading {
    font-size: 50px;
  }

  .introduction_slick_item ._intro {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1440px) {
  .banner_item ._heading {
    font-size: 70px;
  }
}

/* general */
.one_col {
  padding: 50px 15px;
}

.one_pad {
  padding-left: 15px;
  padding-right: 15px;
}

.statistic-item ._counter {
  font-weight: bold;
}

.bold-font {
  font-family: 'HelveticaNeueCondensed', san-serif, serif;
}

._description p:last-child {
  margin-bottom: 0 !important;
}

._button {
  display: inline-block;
  min-width: 165px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  margin-top: 20px;
  background: #13a89e;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

._button:visited,
._button:focus {
  color: #fff;
}

._button.transparent {
  background: transparent;
  border: 1px solid;
}

@media only screen and (min-width: 768px) {
  .one_col {
    padding: 6vw 4vw;
  }

  .one_pad {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

@media only screen and (min-width: 1024px) {
  ._button {
    min-width: 230px;
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    margin-top: 4vw;
  }
}

/* Text section */
.text_section {
  background: #fafafa;
  text-align: center;
}

.text_section .dfHeading {
  font-weight: bold;
}

.button_contact {
  margin-top: 50px;
}


.text_section.color_Blue {
  background: #0d4d66;
  color: #fff;
}

.text_section.color_SeaGreen {
  background: #2d948d;
  color: #fff;
}

.text_section.color_SeaGreen .button_contact a {
  border: 1px solid;
}

.contact_section {
  position: relative;
}

.contact_section > * {
  position: relative;
  z-index: 3;
}

.contact_section.text_section.color_SeaGreen .button_contact {
  margin-top: 5vw;
}

.contact_section .absImg {
  position: absolute;
  width: 200px;
  max-height: 66%;
  height: 100%;
  left: auto;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  z-index: 0;
}

@media only screen and (min-width: 1024px) {
  .contact_section .absImg {
    max-height: 80%;
    height: 80%;
    bottom: 30px;
    background-position: bottom;
  }
}

@media only screen and (min-width: 1440px) {
  .contact_section .absImg {
    width: 240px;
    right: calc(50% - 400px);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }
}

/* Image text section */

.imageText_section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.statistic_section {
  background: #f5f5f5;
}

.statistic-item ._inner {
  text-align: center;
  background: #13a89e;
  height: 100%;
  padding: 40px 10px;
  color: #fff;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

.timeline_item {
  color: #fff;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-bottom: 70px;
}


.timeline_item ._img {
  -webkit-flex: 0 0 68px;
  -ms-flex: 0 0 68px;
  flex: 0 0 68px;
  margin-right: 20px;
  padding-top: 17px;
}

.timeline_item ._txtGroup {
  font-size: 24px;
  font-weight: 300;
}

.timeline_item ._year {
  font-size: 48px;
  font-weight: bold;
}

.timeline_item ._tit {
  font-weight: 600;
}

/* Post List Section */
.post_list_items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.post_list_item.team {
  flex-basis: calc(25% - 25px);
  flex-grow: 0;
  flex-shrink: 0;
}

.post_list_item.team ._inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  text-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  padding: 60px 30px;
  background: #fafafa;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(169, 169, 169, 0.25);
  -moz-box-shadow: 0 10px 10px 0 rgba(169, 169, 169, 0.25);
  box-shadow: 0 10px 10px 0 rgba(169, 169, 169, 0.25);
  border: solid 0 #c4c4c4;
}

.post_list_item.team .wp-post-image {
  width: 160px;
  margin-bottom: 50px;
}

.post_list_item.team ._name {
  font-size: 24px;
  font-weight: bold;
}

.post_list_item.team ._position {
  font-size: 20px;
  margin: 5px 0;
  font-weight: 300;
}

.post_list_item.team ._content {
  font-size: 18px;
  font-weight: 300;
}

.post_list_item.team ._socials {
  margin-bottom: 10px;
}

.post_list_item.team ._socials a {
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

.post_list_items.client {
  margin: -2vw;
}

.post_list_item.client {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 0 33.33%;
  -ms-flex: 0 33.33%;
  flex: 0 33.33%;
  padding: 2vw;
}

@media only screen and (min-width: 1024px) {
  .post_list_items.client {
    margin: -1vw;
  }

  .post_list_item.client {
    -webkit-flex: 0 25%;
    -ms-flex: 0 25%;
    flex: 0 25%;
    padding: 1vw;
  }
}

@media only screen and (min-width: 1440px) {
  .post_list_item.client {
    -webkit-flex: 0 12.5%;
    -ms-flex: 0 12.5%;
    flex: 0 12.5%;
  }
}

/* How it work section */
.how_it_work_section {
  background: #fafafa;
}

.how_it_work_items {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: -10px;
}

.how_it_work_item {
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
  padding: 10px;
}

.how_it_work_item ._inner {
  background: #fff;
  padding: 30px 10px;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(221, 221, 221, 0.25);
  -moz-box-shadow: 0 10px 10px 0 rgba(221, 221, 221, 0.25);
  box-shadow: 0 10px 10px 0 rgba(221, 221, 221, 0.25);
}

.how_it_work_item ._logo {
  margin: 0 auto 15px;
  max-width: 40px;
}

@media only screen and (min-width: 768px) {
  .how_it_work_items {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .how_it_work_item {
    max-width: 340px;
    margin: 10px;
  }

  .how_it_work_item ._inner {
    padding: 60px 40px;
    text-align: center;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
  }

  .how_it_work_item ._logo {
    margin: 0 auto 30px;
    max-width: 80px;
  }
}

@media only screen and (min-width: 1024px) {
  .how_it_work_items {
    margin: 0;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .how_it_work_item {
    margin: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
  }

  .how_it_work_item ._inner {
    height: 100%;
  }
}

/* Banner Home */

.banner_item ._inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-top: 0;
  padding-bottom: 0;
}

.banner_item .banner_text {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.banner_item .banner_img {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 15px 0 0;
}

.banner_item ._heading {
  margin: 0 0 15px;
  line-height: 1.2;
}

@media only screen and (max-width: 1023px) {
  .banner_item ._inner {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1023px) {
  .banner_section {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .banner_section {
    padding: 50px 0;
  }

  .banner_item ._inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .banner_item .banner_text {
    flex: 1;
    padding-bottom: 50px;
  }

  .banner_item .banner_img {
    flex: 1;
  }

  .banner_item ._heading {
    margin: 0 0 20px;
  }
}

@media only screen and (min-width: 1440px) {
  .banner_item ._heading {
    margin-top: 4vw;
  }
}

/* Text Section */

.text_content_section.full {
  padding: 4vw;
}

.text_content_section.max1120 {
  width: auto;
  max-width: 1160px;
  margin: 0 auto;
  padding: 4vw 20px;
}

.text_content_section > :first-child {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.text_content_section h1 {
  font-size: 48px;
  font-weight: normal;
}

.text_content_section h2 {
  margin-top: 70px;
  font-size: 24px;
  font-weight: 600;
}

.text_content_section h3 {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 500;
}

.text_content_section h4,
.text_content_section p {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 300;
}

.text_content_section.full > p {
  max-width: 73%;
}

.post_list_section {

}

.post_type_slick_item {
  position: relative;
  padding: 2vw 20px;
}

.post_type_slick_item ._inner {
  position: relative;
}

.post_type_slick_item ._overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 168, 158, 0.95);
  color: #fff;
  display: none;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.post_type_slick_item ._overlay p {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 40px;
}

.post_type_slick_item ._view_link {
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: 1px solid;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.post_type_slick_item img {
  width: 100%;
}

.post_type_slick_item:hover ._overlay {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.six_items_slick {
  padding-bottom: 50px;
}

.six_items_slick .slick-slide > div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}

.page-mobile-app-developers .post_list_section {
  padding-top: 0;
}


@media only screen and (min-width: 768px) {
  /* general */
  ._description p {
    margin-bottom: 20px;
  }


  /* Text section */
  .text_section ._description {
    font-size: 26px;
    max-width: 800px;
    margin: 20px auto 0;
  }

  .left-flex40 {
    -webkit-flex: 40%;
    -ms-flex: 40%;
    flex: 40%;
  }

  .right-flex60 {
    -webkit-flex: 60%;
    -ms-flex: 60%;
    flex: 60%;
  }

  .imageText_section .right-flex60 {
    padding-left: 40px;
  }

  .imageText_section .hncHeading {
    margin-bottom: 40px;
  }

  .statistic-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .statistic-item {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
  }

  .statistic-item ._counter {
    font-size: 72px;
  }

  .timeline_section {
    position: relative;
    /*background-image: var(--bg-image);*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    min-height: 100vh;
    padding-top: 70px;
  }

  .timeline_section .imgBg {
  }

  .timeline_section ._inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: absolute;
    top: 9vw;
    left: 0;
    width: 100%;
    padding: 75px;
  }

  .timeline_section .leftCol {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 50px;
  }

  .timeline_section .rightCol {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 50px;
  }
}

/* Introduction Section */

.post_introduction_slider_section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.introduction_slick_item {
  padding-top: 30vw;
}

.introduction_slick_item ._inner {
  background: #13465d;
  color: #fff;
  padding-top: 0;
  padding-bottom: 50px;
}

.introduction_slick_item .img_sum {
  top: -30vw;
  position: relative;
}

.introduction_slick_item .wp-post-image {
  width: 100%;
}

.introduction_slick_item ._intro {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .post_introduction_slider_section {
    margin-top: 6vw;
    margin-bottom: 0;
  }

  .introduction_slick_item ._inner {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .introduction_slick_item {
    padding-top: 10vw;
  }

  .introduction_slick_item .img_sum {
    position: relative;
    top: -10vw;
    -webkit-flex: 0 60%;
    -ms-flex: 0 60%;
    flex: 0 60%;
  }

  .introduction_slick_item .tit_link {
    -webkit-flex: 0 40%;
    -ms-flex: 0 40%;
    flex: 0 40%;
    padding-right: 10%;
    padding-top: 10vw;
  }

  .introduction_slick_item ._intro {
    display: block;
    margin: 2vw auto 0;
    max-width: 80%;
    text-align: center;
  }

  .introduction_slick.rightDot .slick-dots {
    bottom: 9vw;
  }
}


/* ============ # PAGE SECTIONS */

/* DETAIL PAGE */
.post-detail-page .entry-content {
  max-width: 1160px;
  margin: 0 auto;
  padding: 4vw 20px;
}

.entry-content {
  font-weight: 300;
}

.entry-content > * {
  margin-bottom: 10px;
}

.entry-content h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.entry-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.entry-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.entry-content p, .entry-content h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.entry-content .post-thumbnail-wrap {
  margin-bottom: 30px;
}

/* # DETAIL PAGE */
